jobs:
  # Check formatting
  - template: ci/azure-rustfmt.yml
    parameters:
      name: rustfmt

  # Test with Rust stable
  - template: ci/azure-test-stable.yml
    parameters:
      name: test_starship
      displayName: Test starship

  # Test with Rust nightly
  - template: ci/azure-test-nightly.yml
    parameters:
      name: test_nightly
      displayName: Check starship with nightly

  # Run the integration tests in a Docker container
  - job: test_docker
    displayName: Run dockerized integration tests
    pool:
      vmImage: ubuntu-16.04
    steps:
      - script: ./integration_test
