[package]
name = "starship"
version = "0.1.0"
authors = ["Matan Kushner <hello@matchai.me>"]
edition = "2018"

[dependencies]
clap = "2.33.0"
ansi_term = "0.11.0"
dirs = "1.0.5"
git2 = "0.8.0"
serde_json = "1.0"
toml = "0.5.0"

[dev-dependencies]
tempfile = "3.0.7"
criterion = "0.2.11"

[[bench]]
name = "my_benchmark"
harness = false
