[advisories]
version = 2

# A list of advisory IDs to ignore. Note that ignored advisories will still
# output a note when they are encountered.
ignore = [
  # { id = "RUSTSEC-0000-0000",  reason = "" },
]

[licenses]
version = 2

# List of explicitly allowed licenses
allow = [
  "Apache-2.0 WITH LLVM-exception",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CC0-1.0",
  "ISC",
  "MIT-0",
  "MIT",
  "MPL-2.0",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "Unlicense",
  "WTFPL",
  "Zlib",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "allow"
wildcards = "warn"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
