.home .hero img
  max-width: 500px !important
  min-width: 300px
  width: 100%

.center
  margin 0 auto;
  width: 80%
  .demo-video
    width: 100%
    margin: 50px 0

#main-title
  display: none

.hero
  margin: 150px 25px 70px

.action-button
  background-color: #dd0b78 !important
  border-bottom: #c6096b !important

@font-face
  font-family: 'Nerd Font';
  src: url("/nerd-font.woff2") format("woff2");
  font-weight: 400;
  font-style: normal

code
  font-family: 'Nerd Font', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
