.home .hero img
  max-width: 500px !important
  min-width: 300px
  width: 100%

.center
  margin 0 auto;
  width: 80%
  .demo-video
    width: 100%
    margin: 50px 0

#main-title
  display: none

.hero
  margin: 150px 25px 70px
