$accentColor = #DD0B78
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.home .hero img
  max-width: 500px
  min-width: 300px
  width: 100%

#main-title
  display: none

.hero
  margin: 150px 25px
