<?xml version="1.0" encoding="UTF-8"?>

<!-- Determine the location of the starship executable based on the build architecture -->
<?if $(sys.BUILDARCH) = arm64?>
  <?define ExeLocation = "target\aarch64-pc-windows-msvc\release\starship.exe"?>
<?elseif $(sys.BUILDARCH) = x64?>
  <?define ExeLocation = "target\x86_64-pc-windows-msvc\release\starship.exe"?>
<?else?>
  <?define ExeLocation = "target\i686-pc-windows-msvc\release\starship.exe"?>
<?endif?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="starship" UpgradeCode="0E489D6B-0FEA-4B6E-B57F-62DD1E892C46"
    Manufacturer="Starship Contributors" Version="$(Version)"
    Scope="perMachine" Codepage="65001">
    <SummaryInformation Keywords="Installer"
      Description="The minimal, blazing-fast, and infinitely customizable prompt for any shell! ☄🌌️ "
      Manufacturer="Starship Contributors" />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="DiskPrompt" Value="starship Installation" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Name="Starship" Id="INSTALLFOLDER">
        <Directory Name="bin" Id="BINFOLDER" />
      </Directory>
    </StandardDirectory>

    <Component Id="MainExecutable" Directory="BINFOLDER">
      <File Id="MainExecutableFile" Name="starship.exe" Source="$(ExeLocation)" />
    </Component>
    <Component Id="License" Directory="INSTALLFOLDER">
      <File Id="LicenseFile" Name="LICENSE" Source="LICENSE" />
    </Component>
    <Component Id="Path" Directory="INSTALLFOLDER" Guid="b6fc75b3-0858-40e7-aee7-b6d4f3e89086">
      <Environment Id="PathEnv" Name="Path" Value="[Bin]" Permanent="no" Part="last" Action="set"
        System="yes" />
    </Component>

    <Feature Id="Binaries" Title="Application" Description="Installs all binaries and the license."
      Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Display="expand"
      AllowAbsent="no">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="License" />

      <Feature Id="PathFeature" Title="Add starship to PATH" Level="1" AllowAbsent="yes">
        <ComponentRef Id="Path" />
      </Feature>
    </Feature>

    <ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="INSTALLFOLDER" />

    <Icon Id="ProductICO" SourceFile="media\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductICO" />
    <Property Id="APPHELPLINK" Value="https://starship.rs/guide/" />
    <WixVariable Id="WixUILicenseRtf" Value="install\windows\pkg_resources\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="install\windows\pkg_resources\Banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="install\windows\pkg_resources\Dialog.png" />
  </Package>
</Wix>