name: Install Script
on:
  push:
    paths:
      - "install/**"
  pull_request:
    paths:
      - "install/**"

jobs:
  shellcheck:
    name: Shellcheck [Linter]
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6

      - name: Lint | Run shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          path: "install/install.sh"
          severity: "warning"
          # TODO: Remove exclude after fixing POSIX compatibility
          # SC3045: read -p is not POSIX compliant
          exclude: "SC3045"

  test_install_script:
    name: Test Install Script
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6

      - name: Test | Piped execution with curl
        run: |
          # Test the installation method described at https://starship.rs/
          mkdir -p "$HOME/.test-install"
          curl -sS "file://$(pwd)/install/install.sh" | sh -s -- --yes --bin-dir "$HOME/.test-install"
          "$HOME/.test-install/starship" --version
